@tailwind base;
@tailwind components;
@tailwind utilities;


.slide {
    width: 100vw;
    height: 100vh;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 700vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
    background-color: #fafafa;
}

.two {
    background-color: pink;
}

.three {
    background-color: bisque;
}

.four {
    background-color: aquamarine;
}

.five {
    background-color: brown;
}

.six {
    background-color: thistle;
}

#portfolio {
    width: 200vw;
}